{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/global.css",
  "tailwindAttributes": [
    "colorClassName",
    "contentContainerClassName",
    "ListHeaderComponentClassName"
  ]
}
