<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMjBd8vsyX6xklK4HT_ozFDRXL9_c8VTA</string>
	<key>GCM_SENDER_ID</key>
	<string>80905087997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silverj0805.receiptscannerapp</string>
	<key>PROJECT_ID</key>
	<string>receiptscannerapp-e0d57</string>
	<key>STORAGE_BUCKET</key>
	<string>receiptscannerapp-e0d57.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80905087997:ios:5987d2f616edc18e5e8794</string>
</dict>
</plist>